{{#partial "contenido"}}
<div class="container-fluid text-center pt-5 my-4 w-auto wider reverse">
<div class="card card-cascade wider reverse my-4">
    <!--Card content-->
    <div class="card-body text-center">
  <label><p class="font-italic font-weight-bold">Resultado</p></label>
<br/>
 <label>Empresa: {{rindicadores.empresa}}</label>
<br/>
 <label>Año: {{rindicadores.anio}}</label>
<br/>
 <label>Indicador: {{rindicadores.indicador}}</label>
<br/>
 <label>Valor: {{rindicadores.valor}}</label>
    </div>
    <!--/.Card content-->

</div>
<!--/.Card-->                

</div>
{{/partial}}

{{>layout.hbs}}